.recorder-box {
  background-color: #ffffff;
  border: 1.5px solid #f9a8d4;
  padding: 25px;
  border-radius: 12px;
  margin: 0 auto;
  box-shadow: 0 6px 16px rgba(255, 192, 203, 0.3);
  text-align: center;
  width: 100%;
  max-width: 400px; 
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 15px;
    color: #9d174d;
  }

  button {
    background-color: #f472b6;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ec4899;
    }
  }

  video,
  audio {
    margin-top: 15px;
    border: 1px solid #fbcfe8;
    border-radius: 10px;
    max-width: 100%;
  }

  .preview-section {
    margin-top: 25px;
    width: 100%;

    h4 {
      margin-bottom: 10px;
      color: #7e225f;
    }

    a button {
      background-color: #fb7185;
      margin-top: 10px;

      &:hover {
        background-color: #f43f5e;
      }
    }
  }
}
